@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@400;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6 
{
    font-family: 'Rubik', sans-serif;
}
a{
    text-decoration: none;
}
ul 
{
    list-style: none;
}
header
{
    padding: 20px 0;
}
.container 
{
    max-width: 1200px;
    margin: auto;
}
.row 
{
    display: flex;
    justify-content: space-between;
}
nav ul li 
{
    display: inline;
    padding: 20px;
    font-weight: bold;
}
nav ul li a 
{
    color: #000;
}
nav ul li a:hover 
{
    color: #37a000;
}
.banner 
{
    background: #C7C7C7;
    padding: 10%;
    text-align: center;
}
.btn 
{
    background: #37a000;
    color: #fff;
    padding: 5px 15px;
    display: inline-block;
    margin: 20px 0;
}
.banner h1 
{
    font-size: 33px;
    text-transform: uppercase;
}
.col
{
    flex-basis: 30%;
    margin: 25px 0;
}
.col img
{
 width: 100%;
}
.bike .row 
{
    flex-wrap: wrap;
}
.bike h2
{
    padding: 20px 0;
    border-bottom: 1px solid #000;
}
footer 
{
    background: #000;
    color: #fff;
    padding: 15px;
    text-align: center;
}